BasedOnStyle: LLVM
ColumnLimit: 100
TabWidth: 4
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -2
Language: Cpp
SortIncludes: false
SortUsingDeclarations: false
Standard: c++20
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true